.cards{
  width: 90%;
  margin: 0 auto;
  padding: 40px 0;

  &__paginado{
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin-bottom: 10px;
  }

  &__btn{
    border: none;
    padding: 10px;
    border-radius: 50%;
    color: color('white');
    background: color('primary');
    cursor: pointer;
  }

  &__elements{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);
  }

  &__link{
    text-decoration: none;
  }
}