.footer{
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  padding: 20px 0;
  background: color('primary');

  &__content{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__picture{
    width: 140px;
    height: 140px;
  }

  &__img{
    display: block;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }

  &__texts{
    margin-right: 20px;
  }

  &__text{
    color: color('white');
    font-size: 1.4rem;
  }
}